name: Quality control checks

on:
  push:
    branches: [main, "feat/**"]
    paths-ignore:
      - "**.md" # Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, "feat/**"]
    paths-ignore:
      - "**.md"

jobs:
  linux:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: launchdarkly/gh-actions/actions/persistent-stores@persistent-stores-v0
        with:
          redis: true
          consul: true
          dynamodb: true

      - name: Install poetry
        uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439

      - uses: ./.github/actions/build
      - uses: ./.github/actions/build-docs

      - name: Run tests
        run: make test-all
        env:
          LD_SKIP_FLAKY_TESTS: true

      - name: Verify typehints
        run: make lint

        #
        # SDK contract tests
        #

      - name: install contract test dependencies
        run: make install-contract-tests-deps

      - name: start contract test service
        run: make start-contract-test-service-bg

      - uses: launchdarkly/gh-actions/actions/contract-tests@contract-tests-v1
        with:
          test_service_port: 9000
          token: ${{ secrets.GITHUB_TOKEN }}

  windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: powershell

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: launchdarkly/gh-actions/actions/persistent-stores@persistent-stores-v0
        with:
          redis: true
          consul: true
          dynamodb: true

      - name: Install poetry
        uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439

      - name: Install requirements
        run: poetry install --all-extras

      - name: Run tests
        run: make test-all
        env:
          LD_SKIP_FLAKY_TESTS: true
