name: Run Release Please

on:
  push:
    branches: [ main ]

jobs:
  release-package:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Needed if using OIDC to get release secrets.
      contents: write # Contents and pull-requests are for release-please to make releases.
      pull-requests: write
    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
      upload-tag-name: ${{ steps.release.outputs.tag_name }}
      package-hashes: ${{ steps.build.outputs.package-hashes}}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
          default-branch: main

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created }}
        with:
          fetch-depth: 0 # If you only need the current version keep this.

      - uses: actions/setup-python@v4
        if: ${{ steps.release.outputs.releases_created }}
        with:
          python-version: 3.8

      - name: Install poetry
        if: ${{ steps.release.outputs.releases_created }}
        uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439

      - uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.2.0
        if: ${{ steps.release.outputs.releases_created }}
        name: 'Get PyPI token'
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/releasing/pypi/token = PYPI_AUTH_TOKEN'

      - uses: ./.github/actions/build
        id: build
        if: ${{ steps.release.outputs.releases_created }}

      - uses: ./.github/actions/build-docs
        if: ${{ steps.release.outputs.releases_created }}

      - uses: ./.github/actions/publish
        if: ${{ steps.release.outputs.releases_created }}
        with:
          token: ${{env.PYPI_AUTH_TOKEN}}
          dry_run: false

  release-provenance:
    needs: [ 'release-package' ]
    if: ${{ needs.release-package.outputs.release-created }}
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.10.0
    with:
      base64-subjects: "${{ needs.release-package.outputs.package-hashes }}"
      upload-assets: true
      upload-tag-name: ${{ needs.release-package.outputs.upload-tag-name }}
